@model FileModel
@{
    string[] sizes = {"KB","KB", "MB", "GB"};
    int pos = 0;
    double fileSize = Model.Size;
    while (fileSize > (1024 * pos))
    {
        fileSize = fileSize / 1024;
        pos++;
    }
    fileSize = Math.Ceiling(fileSize);
    string modelName = Model.Name.Replace(" ", "%20");
    var address = "Download/?fileName=" + modelName;
}

<tr class="clickable-file" data-href=@address>
    <td class="file-text">
        <i class="fas fa-@Model.FontAwesomeFileType"></i>&emsp;
        <span class="file-name">@Model.DisplayName</span>
    </td>
    <td class="file-text">@Model.Owner</td>
    <td class="file-text">@Model.LastModified</td>
    <td class="file-text">@fileSize @sizes[pos]</td>
    <td>
        @* <button class="btn btn-secondary view" onclick="viewLoad('@Model.Name')">View</button> *@
        <a class="btn btn-secondary view" asp-controller="Home" asp-action="ViewFile" asp-route-fileName="@Model.Name"  target="_blank">View</a>
        <button class="btn btn-secondary delete" onclick="deleteLoad('@Model.Name')">Delete</button>
    </td>
</tr>
